.container-gallery {
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    gap: 15px;
;
    .image {
        display: flex;
        width: 90px;
        overflow: hidden;
        height: 70px;
        cursor: pointer;
    }
    .first-img {
        width: 300px;
        height: 300px;
    }
    span {

    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: 0.3s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.preview-box {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: 0.3s;

        &:hover {
            transform: none;
        }
    }
    max-width: 700px;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background-color: #fff;
    padding: 0px 5px 5px 5px;
    border-radius: 3px;
    box-shadow: 0 0 15px rbga(0, 0, 0, 0.2);
    z-index: 5;

    opacity: 0;
    pointer-events: none;
    .details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 15px 12px 10px;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            border: 2px solid transparent;
            //&:hover {
            //    transform: scale(1.2);
            //}
            &:active {
                border: 2px solid #000;
            }
        }
        svg {
            height: 24px;
            fill: #000;
            cursor: pointer;
        }
        .title {
            display: flex;
            font-size: 18px;
            font-weight: 400;

            p {
                margin: 0 5px;
                &.current-img {
                    font-weight: 800;
                }
            }
        }
    }

    .img-box {
        // display: flex;
        width: 100%;

        .wr-img-box {
            height: 70vh;
        }
        .slide {
            position: absolute;
            top: 50%;
            z-index: 3;
            transform: translateY(-50%);
            cursor: auto;
            width: 70px;
            height: 70px;
            background-color: transparent;
            // border-radius: 50%;

            svg {
                height: 18px;
                position: absolute;
                top: 24px;
            }
            &.prev {
                left: 20px;
                svg {
                    left: 29px;
                    z-index: 3;
                    cursor: pointer;
                }
                // для мобилки чтобы клац клац
                &::after {
                    content: "";
                    display: inline-block;
                    height: 40px;
                    width: 40px;
                    position: relative;
                    background-color: #f3efef;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
            &.next {
                right: 20px;
                svg {
                    right: 28px;
                    z-index: 3;
                    cursor: pointer;
                }
                // для мобилки чтобы клац клац
                &::after {
                    content: "";
                    display: inline-block;
                    height: 40px;
                    width: 40px;
                    position: relative;
                    background-color: #f3efef;
                    border-radius: 50%;
                    cursor: pointer;
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }

        }
        .slide.next:focus::after {
            border: 3px solid #3e3d3d;

        }
        .slide.next:hover::after {
            box-shadow: 0px 0px 30px 0px white;
        }
        .slide.prev:focus::after {
            border: 3px solid #3e3d3d;

        }
        .slide.prev:hover::after {
            box-shadow: 0px 0px 30px 0px white;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

// ----------Show-------
// ============
.preview-box.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
    z-index: 25;
}

.shadow {
    z-index: 15;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.4;
    display: none;
}