
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    //display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 77, 112, 0.8);
    cursor: auto;

    &__dialog {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__content {
        display: flex;
        position: relative;
        //width: 100%;
        //padding: 40px;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, .3);
        border-radius: 4px;
        //max-height: 80vh;
        overflow-y: auto;
    }

    &__description {
        min-width: 320px;
        padding: 30px;
    }

    &__description-title {
        color: #0089c8;
        font-size: 20px;
        margin-bottom: 20px;
    }

    ul {
        margin-bottom: 26px;
    }

    &__description-sub-title {
        color: #0089c8;
        font-size: 16px;
        margin-bottom: 10px;
    }

    &__description-list {
        position: relative;

        &::before {
            content: " ";
            display: block;
            height: 5px;
            width: 5px;
            background-color: #0089c8;
            position: absolute;
            top: 6px;
            left: -8px;
            border-radius: 50%;
        }
    }

    &__form {
        padding: 65px 30px 65px 30px;
        background-color: #004d70;
    }

    &__close {
        position: absolute;
        top: 8px;
        right: 14px;
        font-size: 30px;
        color: #fff;
        opacity: .5;
        font-weight: 700;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    &__title {
        text-align: center;
        font-size: 22px;
        color: #fff;
        margin-bottom: 20px;
    }

    &__text-form {
        text-align: center;
        color: #fff;
        margin-bottom: 20px;
    }

    &__label {
        margin-left: 45px;
        margin-bottom: 4px;
        font-size: 16px;
        //color: #fff;
    }

    &__wr-input {
        margin-bottom: 16px;
        color: #fff;

        label {
            font-size: 16px;

        }

        input {
            width: 100%;
            border-radius: 3px;
            padding: 8px;
            border: #fff solid 1px;
            text-align: center;
            margin-bottom: 10px;
            font-size: 20px;
            color: #0089c8;
        }

        input::placeholder {
            opacity: .5;
            color: #0089c8;;
        }


    }

    &__ch {
        color: #fff;
        margin-bottom: 16px;
    }

    &__btn {
        display: block;
        width: 280px;
        margin: 0 auto;
        font-size: 15px;
    }


}


.small {
    max-width: 416px;
}

.show {
    display: block;
}

.hide {
    display: none;
}



.modal__close {
    transition: 0.3s;

    &:hover {
        opacity: 1;
    }
}

.fade {
    animation-name: fade;
    animation-duration: 0.3s;
}
@keyframes fade {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1;
    }
}