* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a :visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

body {
  font-family: "Arial";
  font-size: 15px;
  color: #3e3d3d;
  line-height: 1.2;
  overflow-x: hidden;
}

.btn-style {
  font-size: 18px;
  color: #fff;
  padding: 8px 16px;
  background: linear-gradient(to right, #fca445 0%, #e8580c 100%);
  border-radius: 7px;
  transition: 0.3s;
}
.btn-style:hover {
  transform: scale(1.08);
}

.border-main-content {
  padding: 34px;
  background-color: rgba(32, 29, 29, 0.5);
  border-radius: 26px;
  color: #fff;
}

.header {
  margin-bottom: 16px;
}

.wrapper {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 15px;
}

.wr-content {
  max-width: 1060px;
  margin: 0 auto;
}

.main-section {
  background-image: url("../img/bg/backgroud.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-bottom: 30px;
}
.main-section a {
  color: #fff;
}

.header {
  padding: 16px 26px;
  color: #fff;
  background-color: rgba(60, 60, 60, 0.85);
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 18px;
}
.social__contact {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.social__contact a {
  font-size: 18px;
}
.request-call {
  padding: 14px 30px;
}

.social-networks {
  display: flex;
}
.social-networks__wr {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  margin-left: 15px;
}
.social-networks img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation a {
  font-size: 18px;
  padding: 8px;
  font-size: 18px;
  flex: 0 1 160px;
  text-align: center;
}

.content-main {
  margin-bottom: 20px;
}
.content-main__text {
  width: 530px;
}
.content-main__title {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
}
.content-main__title span {
  margin-left: 14px;
  border-radius: 12px;
  padding: 6px 12px;
  background: linear-gradient(to right, #fca445 0%, #e8580c 100%);
}
.content-main__sub-title {
  font-size: 16px;
  margin-bottom: 16px;
}
.content-main__title-for-message {
  margin-bottom: 16px;
}
.content-main__wr-message {
  display: flex;
}
.content-main__phone {
  margin-right: 16px;
  max-width: 250px;
  box-shadow: inset 0 9px 16px rgba(0, 0, 0, 0.19);
  border-radius: 22px;
  background-color: #ffffff;
  color: #010101;
  padding: 10px 32px;
  font-size: 18px;
}

.coins {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.coins__coin {
  display: flex;
  align-items: center;
  flex: 1 1 200px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 20px;
}
.coins img {
  margin-right: 14px;
}

.founder {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.founder__company {
  margin-bottom: 24px;
}
.founder__wr-img {
  width: 390px;
  height: 340px;
  margin-bottom: 10px;
}
.founder__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.founder__name {
  margin-bottom: 30px;
}
.founder__quote {
  max-width: 840px;
  min-width: 320px;
  font-style: italic;
  font-size: 28px;
  text-align: center;
  margin-bottom: 40px;
}
.founder__info {
  font-size: 24px;
  max-width: 960px;
  min-width: 320px;
}
.founder__info span {
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
